#container{
	width:100%;
	height:1000px;
	outline:black dotted;
}
#header{
	width:100%;
	height:10%;
	outline:red dotted;
}
#header_rt{
	width:25%;
	height:100%;
	outline:orange solid;
	margin-left:75%;
}